* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.geral{
    display: flex;
    margin-left: 200px;

}

h1.entrada, h1.saida{
    font-size: 30px;
    position: absolute;
    margin-top: 50px;
    margin-left: 120px;
}

.titulo {
    font-family: 'Inter';
    font-size: 40px;
    color: #20B2AA;
    text-align: center;
    font-weight: bold;
    width: 400px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-185%, -1000%);
}

.saida {

    color: #20B2AA;
    text-align: center;
    font-weight: bold;
    width: 366px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(55%, -740%);
}

.entrada {
    font-family: "Futura Bk BT";
    font-size: 30px;
    color: #20B2AA;
    text-align: center;
    font-weight: bold;
    width: 366px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-153%, -750%);
}

.movimento {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-185%, 600%);
}

.qua1 {
    width: 400px;
    height: 400px;
    background-color: lightgray;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -70%);
    border-radius: 20px;
    z-index: -999;
}

.qua2 {
    width: 400px;
    height: 400px;
    background-color: lightgray;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(40%, -70%);
    border-radius: 20px;
    z-index: -999;
}

select {
    background-color: white;
    border: none;
    padding: 10px;
    width: 280px;
    height: 25px;
    border-radius: 0.5em;
    color: white;
}

.entrada_produto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-130%, -1000%)
}

.entrada_quantidade {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-130%, -600%)
}

.data_entrada {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-130%, -200%)
}

.estoque_entrada {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-130%, 200%)
}

.produto_saida {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(65%, -1000%)
}

.saida_quantidade {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(65%, -600%)
}

.data_saida {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(65%, -200%)
}

.motivo_saida {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(65%, 200%)
}

.identificadores {
    @font-face {
        font-family: "Futura Bk BT";
    }
}

.eproduto {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-390%, -800%)
}

.equantidade {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-280%, -530%)
}

.edata {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-205%, -270%)
}

.eestoque {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-170%, -20%)
}

.sproduto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(200%, -800%)
}

.squantidade {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(140%, -530%)
}

.sdata {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(120%, -270%)
}

.sestoque {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(105%, -20%)
}

button {
    background-color: #007797;
    border: none;
    padding: 13px;
    width: 150px;
    border-radius: 0.5em;
    color: white;
}

.bentrada {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-348%, 220%)
}

.bsaida {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(173%, 220%)
}

button:hover {
    background-color: deepskyblue;
    cursor: pointer;
}

#tabela-movimentacoes {
    border-collapse: collapse;
    width: 80%;
}

#tabela-movimentacoes th,
#tabela-movimentacoes td {
    border: 1px solid #ddd;
    padding: 30px;
    text-align: left;
}

#tabela-movimentacoes th {
    background-color: #007797;
    color: white;
}

#tabela-movimentacoes {
    position: absolute;
    top: 800px;
    left: 192px;
}

.identificadores {
    font-family: "Futura Bk BT"; /* Substitua por uma fonte sans-serif de sua preferência */
    font-size: 14px; /* Ajuste o tamanho conforme necessário */
    color: #333; /* Cinza escuro */
    text-align: left;
    padding: 5px;
}
