<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Adicionar categoria | Digistok admin</title>
    <link rel="stylesheet" href="/addProduto/style-cadastra-produto.css" />
    <script src="/addProduto/script-cadastra-produto.js" defer></script>
  </head>
  <body>
      <h1>Adicionar categoria</h1>
      <form>
          <div class="form-row">
              <div class="row">
                <label for="categoriaAdd">Nome:</label>
                <input type="text" id="categoriaAdd" name="categoriaAdd" />
                <button type="button" id="salvarCategoria" class="salvar">Salvar</button>
            </div>
        </div>
    </form>
    <p id="mensagem"></p>
  </body>
</html>
